.SelectionWindow{
    position: absolute;
    left: 2.5%;

    min-width: 47.5%;
    max-width: 47.5%;

    background-color: blue;
}

.LanguageSelectWindow{
    min-height: 150px;
    max-height: 150px;

    overflow-y: auto;

    background-color: red;
}

.OptionsWindow{
    min-height: 600px;
    max-height: 600px;

    background-color: purple;
}

.ResultsWindow{
    position: absolute;
    right: 2.5%;

    min-width: 47.5%;
    min-height: 750px;
    max-width: 47.5%;
    max-height: 750px;

    background-color: green;
}